// html {
//   scroll-behavior: smooth;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  color: $main-color;
  background-color: $background-light;
  font-family: $main-text;
  font-size: 16px;
  line-height: 1.25;
  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 0, 50% 1886px;

  background-image: url(../images/body/bg1_mobile.svg),
    url(../images/body/bg2_mobile.svg);

  @media screen and (min-width: 768px) {
    background-position: 50% 0, 50% 1142px;

    background-image: url(../images/body/bg1_tablet.svg),
      url(../images/body/bg2_tablet.svg);
  }

  @media screen and (min-width: 1280px) {
    background-position: 50% 0, 50% 1674px;

    background-image: url(../images/body/bg1_desktop.svg),
      url(../images/body/bg2_desktop.svg);
  }
}
