$trans-dur: 250ms;
$trans-func: cubic-bezier(0.4, 0, 0.2, 1);

// color
$main-color: #2e2520;
$secondary-color: #ab816c;

$button-text: #ffffff;
$button-hover: #876655;
$button-active: #674d40;

$background-dark: #fef3e4;
$background-light: #ffffff;
$background-mob-menu: rgba(254, 243, 228, 0.9);
$background-registration: #fffff9;

// font
$main-text: montserrat, sans-serif;
$title-text: caveat brush, cursive;
