<section class="contact">
    <h2 class="contact__title">Contact</h2>
    <p class="contact__subtext">We will answer any question!</p>
    <form action="#" class="contact__form">
        <label class="contact__form-field">        
            <span class="contact__form-input-wrapper">
                <input type="mailto" name="user-mail" class="" placeholder="Email">
            </span>
        </label>
        <label class="contact__form-field">
            <span class="contact__form-input-wrapper">
                <input type="mailto" name="user-message" class="" placeholder="Type your question">
            </span>
        </label>
        </form>
        <button type="button" class="contact-button button">Send</button>
        <ul class="social-list list">
            <li class="social-list__item">
                <a href="" aria-label="Open Twitter" target="_blank" rel="noreferrer noopener">
                    <svg class="social-list__icon twitter">
                        <use href="../src/images/svg-sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="" aria-label="Open Instagram" target="_blank" rel="noreferrer noopener">
                    <svg class="social-list__icon instagram">
                        <use href="../src/images/svg-sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="" aria-label="Open Facebook" target="_blank" rel="noreferrer noopener">
                    <svg class="social-list__icon facebook">
                        <use href="../src/images/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
        </ul>
        <ul class="">
            <li class="">
                <a href="tel:(910)222-8855" class="">
                    <svg class="">
                        <use href="./images/svg-sprite.svg#icon-phone"></use>
                    </svg>
                    <span class=""></span>(910)222-8855</a>
            </li>
            <li class="">
                <a href="mailto:New York" class="">
                    <svg class="" 
                        <use href="./images/svg-sprite.svg#icon-location"></use>
                    </svg>
        
                    <span class=""></span>New York</a>
            </li>
        </ul>
</section>