<section class="section section__contact">
  <div class="container">
    <h2 class="section__title" id="contacts">Contact</h2>
    <p class="contact__subtext">We will answer any question!</p>
    <form action="#" class="contact__form">
      <label class="contact-form__field">
        <input
          type="email"
          name="user-email"
          class="input contact-form__input"
          placeholder="Email"
          pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
          title="user@gmail.com"
          maxlength="25"
          required
        />
      </label>
      <label class="contact-form__field">
        <input
          type="text"
          name="user-message"
          class="input contact-form__input"
          placeholder="Type your question"
          required
        />
      </label>
      <button class="button contact-form__button" type="submit">Send</button>
    </form>
  </div>
</section>
