<header>
  <div class="container header-container">
    <nav class="header-nav">
      <a href="#" class="header-logo">
        <svg class="header-logo">
          <use href="../images/svg-sprite.svg#icon-menu"></use>
        </svg>
      </a>
      <ul class="header-nav__list">
        <li class="header-nav__item"><a href="">About us</a></li>
        <li class="header-nav__item"><a href="">Program</a></li>
        <li class="header-nav__item"><a href="">Reviews</a></li>
        <li class="header-nav__item"><a href="">Contacts</a></li>
      </ul>
    </nav>
    <button class="header__mobile-btn">
      <svg class="header__mobile-icon">
        <use href="../images/svg-sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
