<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="#" class="header-logo" aria-label="logo">
        <svg class="header-logo__icon">
          <use href="./images/svg-sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#about">About us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#program">Program</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__mobile-btn" data-menu-button>
      <svg class="header__mobile-icon" viewBox="0 0 60 32">
        <path
          class="mobile-button__line1"
          d="M2 0h56c1.105 0 2 0.895 2 2s-0.895 2-2 2h-56c-1.105 0-2-0.895-2-2s0.895-2 2-2z"
        ></path>
        <path
          class="mobile-button__line2"
          d="M2 14h56c1.105 0 2 0.895 2 2s-0.895 2-2 2h-56c-1.105 0-2-0.895-2-2s0.895-2 2-2z"
        ></path>
        <path
          class="mobile-button__line3"
          d="M2 28h56c1.105 0 2 0.895 2 2s-0.895 2-2 2h-56c-1.105 0-2-0.895-2-2s0.895-2 2-2z"
        ></path>
      </svg>
    </button>
  </div>
  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
      <ul class="mobile-menu__nav list">
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link" href="#" aria-label="logo">
            <svg class="mobile-menu__logo">
              <use href="./images/svg-sprite.svg#icon-logo"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#about"> About us </a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#program"> Program </a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#reviews"> Reviews </a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#contacts"> Contacts </a>
        </li>
      </ul>
    </div>
  </div>
</header>
