<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title title">Donut Masterclass with the Donut King</h1>
    <h2 class="hero__subtitle title">Hosted by Eva Green</h2>
    <a class="button hero__button link" href="#registration">Register</a>
    <ul class="social-list hero__social-list list">
      <li class="social-list__item">
        <a
          class="social-list__link link"
          href=""
          aria-label="Open Twitter"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-list__icon twitter">
            <use href="../src/images/svg-sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link link"
          href=""
          aria-label="Open Instagram"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-list__icon instagram">
            <use href="../src/images/svg-sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a
          class="social-list__link link"
          href=""
          aria-label="Open Facebook"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="social-list__icon facebook">
            <use href="../src/images/svg-sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
