<section class="hero section">
  <h1 class="hero-title title">Donut Masterclass with the Donut King</h1>
  <h2 class="hero-title__secondary title">Hosted by Eva Green</h2>
  <button type="button" class="hero-button button">Register</button>
  <ul class="social-list list">
    <li class="social-list__item">
      <svg class="social-list__icon twitter">
        <use href="../src/images/svg-sprite.svg#icon-twitter"></use>
      </svg>
    </li>
    <li class="social-list__item">
      <svg class="social-list__icon instagram">
        <use href="../src/images/svg-sprite.svg#icon-instagram"></use>
      </svg>
    </li>
    <li class="social-list__item">
      <svg class="social-list__icon facebook">
        <use href="../src/images/svg-sprite.svg#icon-facebook"></use>
      </svg>
    </li>
  </ul>
</section>
