<section class="reviews section">
    <div class="container">
        <h2 id="reviews" class="section__title">Reviews</h2>
        <ul class="list persons">
            <li class="persons__item">
                <img srcset="./images/reviews/rev1_tablet.jpg 110w,
                ./images/reviews/rev1_desktop.jpg 136w,
                ./images/reviews/rev1_tablet@2x.jpg 220w,
                ./images/reviews/rev1_desktop@2x.jpg 272w" sizes="(min-width: 1280px) 234px,
                (min-width: 768px) 186px, 110px" src="./images/reviews/rev1_desktop.jpg" alt="John" class="persons__photo">
                <div class="star-line" star-rating=4>
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">John</h3>
            </li>
            <li class="persons__item">
                <img srcset="./images/reviews/rev2_mobile.jpg 110w,
                ./images/reviews/rev2_tablet.jpg 186w,
                ./images/reviews/rev2_mobile@2x.jpg 220w,
                ./images/reviews/rev2_desktop.jpg 234w,
                ./images/reviews/rev2_tablet@2x.jpg 372w,
                ./images/reviews/rev2_desktop@2x.jpg 468w" sizes="(min-width: 1280px) 234px,
                (min-width: 768px) 186px, 110px" src="./images/reviews/rev2_desktop.jpg" alt="Will" class="persons__photo">
                <div class="star-line" star-rating=5>
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Will</h3>
            </li>
            <li class="persons__item">
                <img srcset="./images/reviews/rev3_tablet.jpg 110w,
                ./images/reviews/rev3_desktop.jpg 136w,
                ./images/reviews/rev3_tablet@2x.jpg 220w,
                ./images/reviews/rev3_desktop@2x.jpg 272w" sizes="(min-width: 1280px) 234px,
                (min-width: 768px) 186px, 110px" src="./images/reviews/rev3_desktop.jpg" alt="Elizabeth" class="persons__photo">
                <div class="star-line" star-rating=5>
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Elizabeth</h3>
            </li>
        </ul>
        <ul class="list articles">
            <li>
                <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quos?</article>
                <p class="articles__counter">1/3</p>
            </li>
            <li>
                <article>
                    <p>Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!</p>
                    <p>Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
                </article>
                <p class="articles__counter">2/3</p>
            </li>
            <li>
                <article>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur quas omnis temporibus architecto? Rerum placeat eaque dolorem minus quis quidem?</article>
                <p class="articles__counter">3/3</p>
            </li>
        </ul>
    </div>
</section>