<section class="reviews section">
    <div class="container">
        <h2 id="reviews" class="section__title">Reviews</h2>
        <ul class="list persons">
            <li class="persons__item">
                <img srcset="./images/reviews/rev1_tablet.jpg 110w,
                ./images/reviews/rev1_desktop.jpg 136w,
                ./images/reviews/rev1_tablet@2x.jpg 220w,
                ./images/reviews/rev1_desktop@2x.jpg 272w" sizes="(min-width: 1280px) 234px,
                (min-width: 768px) 186px, 110px" src="./images/reviews/rev1_desktop.jpg" alt="John" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="4">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">John</h3>
            </li>
            <li class="persons__item">
                <img srcset="./images/reviews/rev2_mobile.jpg 110w,
                ./images/reviews/rev2_tablet.jpg 186w,
                ./images/reviews/rev2_mobile@2x.jpg 220w,
                ./images/reviews/rev2_desktop.jpg 234w,
                ./images/reviews/rev2_tablet@2x.jpg 372w,
                ./images/reviews/rev2_desktop@2x.jpg 468w" sizes="(min-width: 1280px) 234px,
                (min-width: 768px) 186px, 110px" src="./images/reviews/rev2_desktop.jpg" alt="Will" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="5">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Will</h3>
            </li>
            <li class="persons__item">
                <img srcset="./images/reviews/rev3_tablet.jpg 110w,
                ./images/reviews/rev3_desktop.jpg 136w,
                ./images/reviews/rev3_tablet@2x.jpg 220w,
                ./images/reviews/rev3_desktop@2x.jpg 272w" sizes="(min-width: 1280px) 234px,
                (min-width: 768px) 186px, 110px" src="./images/reviews/rev3_desktop.jpg" alt="Elizabeth" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="5">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Elizabeth</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog1_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="3">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Lorem</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog2_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="4">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Ipsum</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog3_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="2">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Dolor</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog4_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="5">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Sit</h3>
            </li>
            <li class="persons__item">
                <img src="./images/registration/reg1_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="5">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Amet</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog2_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="1">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Consectetur</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog1_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="0">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Adipisicing</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog4_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="2">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Elit</h3>
            </li>
            <li class="persons__item">
                <img src="./images/program/prog3_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="4">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Consequatur</h3>
            </li>
            <li class="persons__item">
                <img src="./images/registration/reg1_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="3">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Quas</h3>
            </li>
            <li class="persons__item">
                <img src="./images/hero/hero_tablet@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="5">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Omnis</h3>
            </li>
            <li class="persons__item">
                <img src="./images/registration/reg2_desktop@2x.png" alt="" loading="lazy" class="persons__photo">
                <div class="star-line" data-rating="5">
                    <include src="./partials/star-line/star-line.html"></include>
                </div>
                <h3 class="persons__name">Temporibus</h3>
            </li>
        </ul>
        <ul class="list articles">
            <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, quos?
            </li>
            <li>
                <p>Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!</p>
                <p>Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
            </li>
            <li>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur quas omnis temporibus architecto? Rerum placeat eaque dolorem minus quis quidem?
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut natus vitae, iure quae doloribus ab.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, officiis facere! Est, totam? Vero, consequatur commodi voluptates optio ducimus facere!
            </li>
            <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus reprehenderit, provident vitae facilis explicabo at minima, tenetur delectus, incidunt eum ut odio earum nihil totam illo quibusdam cumque atque molestias!
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sequi necessitatibus maiores placeat. Quas, quae, aspernatur error magnam repudiandae beatae tempore velit ratione perspiciatis accusantium sit provident odit neque excepturi repellendus necessitatibus
                numquam facilis distinctio inventore at quos rem! Magni!
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptatem fugit rem.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta omnis aliquid veniam corporis obcaecati eos maxime veritatis? Iure.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt beatae voluptate, maiores, quos obcaecati natus fugit soluta distinctio assumenda adipisci esse!
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat accusantium temporibus consectetur, omnis repellendus deleniti porro quasi quas ex, mollitia eum itaque neque magni! Facilis.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis reiciendis at rem voluptates minus soluta accusamus, sequi ducimus voluptas placeat eum fuga nam alias exercitationem id blanditiis dolore! Rerum fuga, earum neque assumenda voluptatum
                quo ad dolorum, cupiditate minima dolorem praesentium sapiente?
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At eveniet, ipsum suscipit ad in sed pariatur culpa itaque, a, facilis eos praesentium tempore explicabo error neque non magni! Aperiam, officiis non?
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatum minus quam doloribus!
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error quaerat quisquam ad, et sit minus numquam inventore quas commodi culpa. Quia veniam reprehenderit eum, voluptatem fugit alias vero cum facilis ut! Mollitia deserunt quae, dolore consequatur
                consequuntur magnam aliquam iure beatae nihil harum architecto rem velit sunt voluptate. Sint, exercitationem.
            </li>
        </ul>
    </div>
</section>