.social-list {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;

    @media screen and (min-width: 1280px) {
      margin-right: 12px;
    }
  }
  &__icon {
    &:hover,
    &:focus {
      fill: $button-hover;
    }
    &:active {
      color: $button-active;
    }
    &.twitter {
      width: 19px;
      height: 15px;
    }
    &.instagram {
      width: 15px;
      height: 15px;
    }
    &.facebook {
      width: 8px;
      height: 15px;
    }
    @media screen and (min-width: 1280px) {
      &.twitter {
        width: 24px;
        height: 19px;
      }
      &.instagram {
        width: 19px;
        height: 19px;
      }
      &.facebook {
        width: 10px;
        height: 19px;
      }
    }
  }
}
