.about__container {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}
.about__left-side {
  max-width: 290px;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 11px;
    left: -5%;
    max-width: 330px;
  }
  @media screen and (min-width: 1280px) {
    top: -15%;
    left: -15%;
    max-width: 512px;
  }
}
.about__right-side {
  @media screen and (min-width: 768px) {
    max-width: 336px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 388px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.about__img {
  width: 100%;
}

.about__text {
  @media screen and (max-width: 1279px) {
    &:nth-child(2) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.about__hidden-text {
  @media screen and (max-width: 1279px) {
    margin-top: 15px;
  }
}
