.section__contact {
  padding-top: 27px;
  padding-bottom: 19px;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 87px 64px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/contact/contact_mobile@2x.png);
  }
  background-image: url(../images/contact/contact_mobile.png);

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 21px;
    background-size: 147px 144px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contact/contact_tablet@2x.png);
    }
    background-image: url(../images/contact/contact_tablet.png);
  }

  @media screen and (min-width: 1280px) {
    background-size: 319px, 184px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contact/contact_desktop@2x.png);
    }
    background-image: url(../images/contact/contact_desktop.png);
  }
}

.contact__subtext {
  text-align: center;
  margin-bottom: 12px;
}

.contact__form {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 265px;
  @media screen and (min-width: 768px) {
    max-width: 410px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 430px;
  }
}

.contact-form__field {
  display: block;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.contact-form__input {
  width: 100%;
}

.contact-form__button {
  margin-top: 27px;

  @media screen and (max-width: 767px) {
    margin-top: 37px;
  }
}

.contact__address {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    margin-top: 34px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 51px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 35px;
  }
}

.contact__social-list {
  margin-top: 74px;
}

.contact__address-link {
  font-style: normal;
  @include trans(color);
  &:hover,
  &:focus {
    color: $button-hover;
  }
  @media screen and (min-width: 1280px) {
    &:active {
      color: $button-active;
    }
  }
}

.contact__address-icon {
  width: 13px;
  height: 13px;
  fill: currentColor;
}
