.section__contact {
  padding-top: 27px;
  @media screen and (min-width: 768px) {
    padding-top: 51px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 43px;
    padding-bottom: 0;
  }
}

.contact__subtext {
  text-align: center;
  margin-bottom: 12px;
}

.contact__form {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 265px;
  @media screen and (min-width: 768px) {
    max-width: 410px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 430px;
  }
}

.contact-form__field {
  display: block;
  @media screen and (max-width: 767px) {
    &:first-child {
      margin-bottom: 25px;
    }
  }
  @media screen and (min-width: 768px) {
    &:first-child {
      margin-bottom: 15px;
    }
  }
}

.contact-form__input {
  width: 100%;
}

.contact-form__button {
  margin-top: 27px;

  @media screen and (max-width: 767px) {
    margin-top: 37px;
  }
}
