.contact {
}
.contact__title {
  text-align: center;
}
.contact__subtext {
  text-align: center;
}
.contact__form {
}
.contact__form-field {
}
.contact__form-input-wrapper {
}

.contact__address {
  display: flex;
  justify-content: space-between;
}
.address__container {
}
.contact__address-icon {
  width: 13px;
  height: 13px;
}
