.program {
    padding-bottom: 38px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-bottom: 12px;
    }
    // @media screen and (min-width: 1280px) {
    //     padding-bottom: 51px;
    // }
}

.program__container {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.program__half {
    @media screen and (min-width: 768px) {
        max-width: calc(50% - 19px);
    }
    @media screen and (min-width: 1280px) {
        max-width: calc(50% - 20px);
    }
}

.schedule {
    margin-top: 10px;
    @media screen and (min-width: 1280px) {
        margin-top: 21px;
        margin-bottom: 21px;
    }
}

///////////////////////////////////////
// Поддерживается в новых браузерах, //
// но мы пока не будем... Или будем? //
///////////////////////////////////////
// .schedule {
//     list-style-type: '> ';
//     list-style-position: inside;
// }
///////////////////////////////////////
.schedule__item {
    &:not(:last-child) {
        margin-bottom: 10px;
        @media screen and (min-width: 1280px) {
            margin-bottom: 15px;
        }
    }
    &::before {
        content: "> ";
    }
}

.schedule__after-text {
    @media screen and (max-width: 1279px) {
        margin-top: 10px;
        @media screen and (min-width: 768px) {
            padding-bottom: 15px;
        }
    }
}

.schedule__read-more {
    transform: translateY(-6px);
    @media screen and (min-width: 768px) {
        position: absolute;
        .schedule__after-text:not(.hidden-on-small)+& {
            transform: translateY(-21px);
        }
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 34px;
    align-items: flex-start;
    align-content: space-between;
    min-height: 367px;
    @media screen and (min-width: 1280px) {
        min-height: 477px;
    }
}

.features__item {
    position: relative;
    width: 142px;
    height: 142px;
    @media screen and (min-width: 1280px) {
        width: 180px;
        height: 180px;
    }
    text-align: center;
    background-color: $background-dark;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
    &:nth-child(even) {
        margin-top: 26px;
        @media screen and (min-width: 1280px) {
            margin-top: 56px;
        }
    }
}

.features__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 84px;
    width: 65px; //1: 77px; 3: 69px;
    transform: translate(-50%, -34px);
    @media screen and (min-width: 1280px) {
        height: 107px;
        width: 83px; //1: 97px; 3: 88px;
        transform: translate(-50%, -43px);
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@for $i from 1 through 4 {
    .features__item_#{$i}::before {
        @include bgimg('../images/program/prog#{$i}', 'png', 'tabmob', 'tabmob');
    }
}

.features__item_1::before {
    width: 77px;
}

.features__item_3::before {
    width: 69px;
}

@media screen and (min-width: 1280px) {
    .features__item_1::before {
        width: 97px;
    }
    .features__item_3::before {
        width: 88px;
    }
}

.features__title {
    margin-top: 51px;
    font-family: $title-text;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    @media screen and (min-width: 1280px) {
        margin-top: 63px;
        font-size: 24px;
        line-height: 30.24px;
    }
}

.features__description {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 13px;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
}

.features__svg {
    fill: $button-hover;
    &_chef-hat {
        width: 19px;
        height: 18px;
        margin-top: 13px;
    }
    &_people {
        width: 20px;
        height: 18px;
        margin-top: 13px;
    }
    &_clock {
        width: 20px;
        height: 20px;
        margin-top: 12px;
    }
    &_chat {
        width: 25px;
        height: 17px;
        margin-top: 15px;
    }
    @media screen and (min-width: 1280px) {
        &_chef-hat {
            width: 25px;
            height: 23px;
            margin-top: 17px;
        }
        &_people {
            width: 26px;
            height: 23px;
            margin-top: 17px;
        }
        &_clock {
            width: 25px;
            height: 25px;
            margin-top: 15px;
        }
        &_chat {
            width: 31px;
            height: 21px;
            margin-top: 19px;
        }
    }
}