.program {
    margin-bottom: 38px;
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 51px;
    }
}

.program__container {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.program__half {
    @media screen and (min-width: 768px) {
        max-width: calc(50% - 19px);
    }
    @media screen and (min-width: 1280px) {
        max-width: calc(50% - 20px);
    }
}

.schedule {
    margin-top: 10px;
    @media screen and (min-width: 1280px) {
        margin-top: 21px;
        margin-bottom: 21px;
    }
}

///////////////////////////////////////
// Поддерживается в новых браузерах, //
// но мы пока не будем... Или будем? //
///////////////////////////////////////
// .schedule {
//     list-style-type: '> ';
//     list-style-position: inside;
// }
///////////////////////////////////////
.schedule__item {
    &:not(:last-child) {
        margin-bottom: 10px;
        @media screen and (min-width: 1280px) {
            margin-bottom: 15px;
        }
    }
    &::before {
        content: "> ";
    }
}

.schedule__after-text {
    @media screen and (max-width: 1279px) {
        margin-top: 10px;
        @media screen and (min-width: 768px) {
            padding-bottom: 15px;
        }
    }
}

.schedule__read-more {
    @media screen and (min-width: 768px) {
        position: absolute;
        .schedule__after-text:not(.hidden-on-small)+& {
            transform: translateY(-15px);
        }
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 34px;
}

.features__item {
    position: relative;
    width: 142px;
    height: 142px;
    @media screen and (min-width: 1280px) {
        width: 180px;
        height: 180px;
    }
    text-align: center;
    background-color: $background-dark;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
    &:nth-child(even) {
        margin-top: 26px;
    }
    &:nth-last-child(n + 3) {
        margin-bottom: 31px;
    }
    @media screen and (min-width: 1280px) {
        &:nth-child(even) {
            margin-top: 56px;
        }
        &:nth-last-child(n + 3) {
            margin-bottom: 5px;
        }
    }
}

.features__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 84px;
    width: 77px;
    @media screen and (min-width: 1280px) {
        height: 107px;
        width: 97px;
    }
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@for $i from 1 through 4 {
    .features__item_#{$i}::before {
        background-image: url('../images/program/prog#{$i}_desktop@2x.png');
    }
}

.features__title {
    margin-top: 50px;
    font-family: $title-text;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 18px;
    line-height: 23px;
    @media screen and (min-width: 1280px) {
        margin-top: 63px;
        font-size: 24px;
        line-height: 30.24px;
    }
}

.features__description {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 13px;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.features__svg {
    fill: $button-hover;
    &_chef-hat {
        width: 19px;
        height: 18px;
        margin-top: 13px;
    }
    &_people {
        width: 20px;
        height: 18px;
        margin-top: 13px;
    }
    &_clock {
        width: 20px;
        height: 20px;
        margin-top: 12px;
    }
    &_chat {
        width: 25px;
        height: 17px;
        margin-top: 15px;
    }
    @media screen and (min-width: 1280px) {
        &_chef-hat {
            width: 25px;
            height: 23px;
            margin-top: 17px;
        }
        &_people {
            width: 26px;
            height: 23px;
            margin-top: 17px;
        }
        &_clock {
            width: 25px;
            height: 25px;
            margin-top: 15px;
        }
        &_chat {
            width: 31px;
            height: 21px;
            margin-top: 19px;
        }
    }
}