.registration__container {
  @media screen and (max-width: 767px) {
    text-align: center;
    position: relative;
  }
}

.section__title--position {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 10px;
  }
}

.registration__wrapper {
  background-color: $background-registration;
  box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15),
    4px 4px 4px rgba(171, 129, 108, 0.15);

  @media screen and (max-width: 767px) {
    padding: 90px 12px 47px;
    border-radius: 150px 150px 0px 0px;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    padding: 35px 21px 35px 40px;
    border-radius: 150px;
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 1280px) {
    padding: 35px 98px;
  }
  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 235px;
    height: 255px;
    background-size: cover;

    @media screen and (min-width: 768px) {
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/registration/reg1_tablet@2x.png);
      }
      background-image: url(../images/registration/reg1_tablet.png);
      transform: translate(-66px, -50px);
    }
    @media screen and (min-width: 1280px) {
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/registration/reg1_desktop@2x.png);
      }
      background-image: url(../images/registration/reg1_desktop.png);
      transform: translate(-140px, -70px);
    }
  }
  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    right: 0;
    @media screen and (min-width: 768px) {
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/registration/reg2_tablet@2x.png);
      }
      background-image: url(../images/registration/reg2_tablet.png);
      width: 280px;
      height: 374px;
      background-size: cover;
      transform: translate(66px, 38px);
    }
    @media screen and (min-width: 1280px) {
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/registration/reg2_desktop@2x.png);
      }
      background-image: url(../images/registration/reg2_desktop.png);
      width: 606px;
      height: 589px;
      background-size: cover;
      transform: translate(230px, -45px);
    }
  }
}

.counter {
  font-weight: 500;
  @media screen and (max-width: 767px) {
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 11px;
    border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  }
  @media screen and (min-width: 768px) {
    padding-top: 19px;
    padding-right: 30px;
    margin-right: 30px;
    min-height: 190px;
    text-align: right;
    border-right: 1px solid rgba(171, 129, 108, 0.5);
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.counter__location {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
  }
}

.registration-form {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
  }
}

.registration-form__wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    flex-grow: 1;
    margin-right: 25px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 38px;
  }
}

.registration-form__head {
  margin-bottom: 17px;
  max-width: 220px;

  @media screen and (max-width: 767px) {
    align-self: center;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 13px;
  }
}

.registration-form__field {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.registration-form__input {
  width: 100%;
}

.registration-form__button {
  align-self: center;
}
